page {
  background-color: rgba(0, 0, 0, 0.04);
}

.sub-container {
  width: 96%;
  background-color: white;
  position: absolute;
  margin: 8px 2% 0 8px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.order-number {
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(1, 1, 1, 0.5);
  padding: 6px 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.step-common {
  font-size: 12px;
  text-align: center;
}
.step-common-1 {
  font-size: 11px;
  text-align: center;
  color: rgba(1, 1, 1, 0.5);
}
.step-icon {
  width: 14px;
  height: 14px;
}
.step-icon-1 {
  width: 22px;
  height: 22px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
}
.step-common-title {
  height: 30px;
  line-height: 30px;
  margin-left: 4px;
  color: rgba(1, 1, 1, 0.8);
  font-size: 14px;
}
.step-common-btn {
  margin-top: 4px;
  position: absolute;
  right: 10px;
  height: 22px;
  line-height: 22px;
  width: 80px;
  font-size: 10px;
  background-color: #d49968;
  color: white;
  border: 0;
}

/* 自定以按钮的不可点击样式 */
button[disabled] {
  background-color: #d49968 !important;
  border: 0 !important;
  color: white !important;
  opacity: 0.2 !important;
}
.step-6-imgs {
  background-color: rgba(0, 0, 0, 0.01);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 6px;
}

.limit-common {
  color: rgba(1, 1, 1, 0.5);
  font-size: 12px;
}
.limit-number {
  text-align: right;
}

.v-divider {
  background-color: rgba(0, 0, 0, 0.1);
  width: 2px;
  float: right;
  height: 30px;
  margin-right: 2px;
}
.v-divider-1 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 2px;
  float: right;
  height: 30px;
  margin-right: 2px;
}
.v-divider-2 {
  background-color: rgba(0, 0, 0, 0.1);
  width: 2px;
  float: right;
  height: 120px;
  margin-right: 2px;
}
.no-login {
  margin-top: 70%;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
}
.login-btn {
  width: 40%;
  margin-top: 20px;
  height: 5%;
  background-color: #d49968;
  color: white;
}

.refresh {
  bottom: 10px;
  position: fixed;
  right: 20px;
}

.refresh-img {
  width: 30px;
  height: 30px;
}

.top-left {
  float: left;
  padding: 8px;
}

.top-right {
  float: right;
  padding: 8px;
}
